
.card {
    margin: 3px;
    display: inline-block;
    height: 413px;
    width: 24%;
    border: 1px solid silver;
    padding-left: 2px;
    border-radius: 2rem;
}

a {
    text-decoration: none;
}

#mobile {
    margin-left: 18px;
    color: silver;
}

#price {
    margin-top: -22px;
    color: red;
    font-family: none;
    font-size: 31px;
    margin-left: 15px;
    float: left;
}

#priceH {
    float: left;
    margin-top: -6px;
    margin-left: 8px;
}


.pricePhone {
    float: left;
}
#name {
    font-family: Glegoo;
    font-style: initial;
    font-weight: unset;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0.01em;

    margin-left: 5%;
    margin-top: 1%;
    font-family: cursive;
}

.link-s {
    text-decoration: none;
    float: right;
    border: 1px solid black;
    height: 53px;
    width: 50%;
    background-color: black;
    border-radius: 5rem 0rem 2.7rem 0rem;

}

.link-s .link {
    color: white;
    height: 50%;
    display: block;
    padding-left: 38%;
    padding-top: 20px;
}

.link-s .link #text-a {
    color: white;
    text-align: center;
}

.imgHolder {
    text-align: center;
}

.colorSelector {
    text-align: center;
}

